app/var/log/moco.log
!app/assets/vehicle_example.xlsx
app/assets/
__pycache__/
*.pyc
*.pyo
*.pyd

*.xlsx
*.xls

debug.py

app/config/SYSCONF_default.yaml
app/var/
.vscode/
.env

# 敏感配置文件
**/config/*.yaml
.DS_Store
build*/
dist*/

