Markdown==3.8
mingzi==1.2.3
numpy==2.2.5
openai==1.76.0
oss2==2.19.1
pandas==2.2.3
psutil==7.0.0
pydantic==2.11.3
pypinyin==0.53.0
PyQt5==5.15.11
PyQt5_sip==12.16.1
PyYAML==6.0.2
Requests==2.32.3
translate==3.6.1
openpyxl==3.1.2
xlsxwriter==3.2.3
Levenshtein==0.27.1